<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <title>custom</title>
    <h2> customize your browsing experience here</h2>
    <h3> click for dark mode</h3> <br>
    <h3> click for light mode</h3> <br>
    <h3> click to get random theme</h3>
        <form action = "profile">
        <input type="submit" value=" Back"/>
    </form>
</body>
</html>