<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <link rel="stylesheet" href ="stylesheet" type ="text/css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <title> Home</title>
    <section class ="animated-grid">
         <div class="card"><h1> categories</h1><br>
              <form action = "categories">
                <input type="submit" value=" Categories"/>
                     </form> <br>
                            </div>
       <div class="card"><h1>groups</h1><br>
              <form action = "categories">
                 <input type="submit" value=" Groups"/>
                         </form> <br>
                        </div>
    <div class="card"><h1> about</h1><br>
              <form action = "categories">
                 <input type="submit" value=" About"/>
                         </form> <br>
                        </div>
    <div class="card"><h1>profile</h1><br>
              <form action = "profile">
                 <input type="submit" value=" Profile"/>
                         </form> <br>
                        </div>
    <div class="card"><h1>contact us</h1><br>
              <form action = "categories">
                 <input type="submit" value=" Contact Us"/>
                         </form> <br>
                        </div>
    <div class="card">f</div>
    <div class="card"><h3> featured/trending posts</h3>  <br>
                                </div>
    <div class="card">h</div>
    <div class="card"><h2> YOU ARE NOT LOGGED IN, PLEASE LOG IN TO ACCESS ALL FEATURES</h2> <br> <br> <br>
    <form action = "login">
        <input type="submit" value=" Click here to login"/>
    </form></div>
    <div class="card">j</div>
    <div class="card">k</div>
    <div class="card">l</div>
    <div class="card"><h3> create a post</h3><br>
            <h3>your recent activity, likes, posts, comments etc</h3> <br>    
                </div>
</section>
</body>
</html>