<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <title> Home</title>
    <h1> categories, groups, about, profile, contact us</h1>     <br>
    <form action = "categories">
        <input type="submit" value=" Categories"/>
    </form> <br>
    <form action = "profile">
        <input type="submit" value=" Profile"/>
    </form> <br>

    <h2> YOU ARE NOT LOGGED IN, PLEASE LOG IN TO ACCESS ALL FEATURES</h2>     <br> <br> <br>
    <form action = "login">
        <input type="submit" value=" Click here to login"/>
    </form>

    <h3> create a post</h3>     <br>

    <h3>your recent activity, likes, posts, comments etc</h3>     <br>

    <h3> featured/trending posts</h3>    <br>


</body>
</html>