<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href ="stylesheet" type ="text/css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content="311778546298-bkphdtktfc9v07oq8cgoqldkvl7k4tg7.apps.googleusercontent.com">

</head>
<body>
    <title>Login</title>
    <div class="imageCat">  <img src ="cat" width = "50%">
        <br> <br>
</div>
    
    <div class="grid">
        <div class="g-signin2" data-onsuccess="onSignIn"></div>

        <form action ="login" method = "POST" > 
            
            <div class="container">
            <label for ="username"><b>Username:</b></label>
            <input type="text" placeholder="enter here" name="username" required> <br><br>

            <label for = "password"><b>Password:</b></label>
            <input type ="password" placeholder="enter password" name="password" required> <br><br>
            <input type ="checkbox" id ="li" name ="remember"> Remember me <br><br>
            <button type ="submit">Login</button> <br><br>
            <label>
            </label>
            </div>
        </form> 
        
        <form action = "reset">
            <input type="submit" value=" Forgot password?"/>
        </form> <br>
        <form action = "signup">
            <input type="submit" value="Register"/>
        </form> <br>
        <form action = "home">
            <input type="submit"  id="guest" value=" Continue as guest"/>
        </form> <br>
    </div>

</body>

<script>
    function onSignIn(googleUser){
        console.log("hello world")
    var profile = googleUser.getBasicProfile();
    console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
  console.log('Name: ' + profile.getName());
  console.log('Image URL: ' + profile.getImageUrl());
  console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.
    }
</script>
</html>

