<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <link rel="stylesheet" href ="stylesheet" type ="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <title>posts</title>
    <div class="head">
        <h4>
            <form action= "/home">
                <input type ="submit" value="Home"/>
             </form>
            </h4>
              <h4><form action = "categories">
                <input type="submit" value=" Categories"/>
            </form> 
          </h4>
          <h4> 
                   <form action = "about">
             <input type="submit" value=" About"/>
          </form> 
         </h4>
             <h4> <form action = "profile">
              <input type="submit" value=" Profile"/>
           </form>
          </h4>
             <h4> <form action = "/logout">
                 <input type="submit" value=" Logout"/>
            </form> 
         </h4>
            <h4>  <form action = "contact-us">
                <input type="submit" value=" Contact Us"/>
            </form>
        </h4>
    </div>
    <!-- </div> -->
    <!-- <div class="guest"> -->
        <h2> your recent posting activity</h2>        
        <ol> 
            {{range .Post}}
            <li class ="row">
                <h3 class="title2">
                    <a href ="thread/{{.PostID}}">
                        <!-- {{.PostID}} -->
                        {{.Title}} 
                        <br>
                        Posted by: {{.Username}}                       
                    </a>
                </h3>
                <div class="content">
                    <a href ="thread/{{.PostID}}">
                    <p1>{{.Content}} </p1> 
                    <!-- <br> <br>
                    <p1> likes: {{.Likes}} </p1>
                    <p1> dislikes: {{.Dislikes}}</p1>  -->
                     </a>
                    <br>
                    <p1>Category: {{.Category}}</p1>
                </div>
                <div class ="bottom">
                    
                    <p1 class="timestamp">
                        <a href ="thread/{{.PostID}}">
        <p1 class ="timestamp">posted: {{.CreatedAt}}</p1>
        <p1 class="likes">likes: {{.Likes}}</p1>
        <p1 class="dislikes">dislikes: {{.Dislikes}}</p1>
                          </a>
                    </p1>
                    </div>
                </li> <br>
                    {{end}}
                </ol>
      <br>
      <br>
      <br>
      <br>
                
      
      <form action = "profile">
          <input type="submit" value=" Back"/>
      </form>
  </body>
  </html>
    <div class="rights">
            <br>
            <h6>Content Policy||Privacy Policy||User Agreement</h6>
            <h7>© DogeCo, inc, All rights reserved </h7>
            <br>
            <br>
        </div>