<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <title>profile--- == username</title>
<form action = "photo">
        <input type="submit" value=" Photo"/>
    </form>  
    <br>
<form action = "posts">
        <input type="submit" value=" posts"/>
    </form>
    <br>

    <form action = "comments">
        <input type="submit" value=" comments"/>
    </form>
    <br>

<form action = "likes">
        <input type="submit" value=" likes and dislikes"/>
    </form>
    <br>

    <form action = "shares">
        <input type="submit" value=" Shares"/>
    </form>
    <br>

<form action = "info">
        <input type="submit" value=" user info"/>
    </form>
        <br>

<form action = "custom">
        <input type="submit" value=" custom time"/>
    </form>
        <br>

    <form action = "home">
        <input type="submit" value=" Back"/>
    </form>
</body>
</html>