<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <link rel="stylesheet" href ="stylesheet" type ="text/css">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>thread</title>
</head>
<body>
    <ol>
            <li class = "header">
                <h4 class="title">
                    Thread 1
                </h4>
                <div class ="bottom">
                    <p class="timestamp">
                        11/04/2022
                    </p>
                    <p class ="comment-count">
                        4 comments
                    </p>
                    </div>
                    <textarea></textarea><br>
                    <button>add comment</button>
                        <div class = comments>
                          <div class = "comments">
                            <div class = "top-comment">
                               <p class = "user">
                                      Tom
                                </p>
                                <p class="timestamp">
                                    11/04/2022
                                </p>
                            </div>
                            <div class = "comment-content">
                                Comment text
                            </div>
                    </a>
            </li>
      
        </ol>
</body>
</html>